*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  scroll-behavior: smooth;
  text-decoration: none;
}
$font-sizes:(
  a: 18px,
  p: 18px,
);

@each $tag,$size in $font-sizes{
  #{$tag}{
    font-size: $size;
  }
} 
body{
  padding: 20px 5vw;
}
section{
  padding: 40px 0;
}
.active{
    position: relative;
    &::after{
      content: "";
      height: 3px;
      width: 100%;
      background-color: red;
      position: absolute;
      bottom: -4px;
      left: 0;
    }
  }